# dependencies
node_modules/

# next.js
.next/
.next/cache/
out/
.vercel/
.turbo/

# env / secrets
.env
.env.*.local
*.local

# misc
dist/
build/
coverage/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
